{%extends "base.html"%}
{%block title %} Tasks{%endblock%}
{%block content%}
<div class="task-box">
    <h2> Your Tasks</h2>
    <form action="{{url_for('tasks.add_task')}}" method="POST" class= task-form>
        <input type="text" name="task_name" placeholder="new_task" required>
        <button type="submit" class="btn">Add</button>
    </form>
    {% if tasks%}
            <form method="POST" action="{{url_for('tasks.clear_task')}}">
                <button type="submit" class="btn btn-clear"> Clear All Tasks</button>

            </form>
        <br>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Task</th>
                <th>Status</th>
                <th>Change</th>

                </tr>
            </thead>
            <tbody>
                {% for tsk in tasks%}
                    <tr>

                        <td>{{loop.index}}</td>
                        <td>{{tsk.task_name}}</td>
                        <td>
                            <span class="badge {{ tsk.status|lower }}"> {{tsk.status}}</span>
                        </td>
                        <td>
                            <form action="{{url_for('tasks.toggle_status',task_id=tsk.id)}}" method="POST">
                            <button type="submit" class="btn-small">Next</button>
                            </form>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p>No Task yet.Add one above!</p>
    {%endif %}
    
</div>
{%endblock%}